# Configuration file

##########################################################################################################
# buttons
#--------------------------------------------------------------------------------------------------------#
# Everything to do with the buttons.
##########################################################################################################

buttons {
    # Add a second button that has a link attached to it. Clicking the button will open the link in the user's default browser.
    B:addLinkButton=true

    # Text to display on the button
    S:continueButtonText=Continue to Game

    # Link to open when button is clicked.
    S:linkButtonLink=https://github.com/Belgabor/Magicality/issues

    # Text to display on the button.
    S:linkButtonText=Report Issues
}


##########################################################################################################
# information
#--------------------------------------------------------------------------------------------------------#
# These are the options for what your GUI says. Change them as you please, but try to keep them short. It won't split lines for you. Leave blank if unused.
##########################################################################################################

information {
    # Title of your GUI. Appears at the top.
    S:guiTitle=Magicality - READ ME

    # These are your information info in the GUI
    S:line1=Magicality is not like other packs
    S:line2=You WILL NOT find any ores in the world
    S:line3=
    S:line4=Please Read the Quest Book in it's entirety
    S:line5=Lore Pages are central to the story
    S:line6=Miss them out and you wont know what's happening
    S:line7=
    S:line8=IMPORTANT: Please read the changelog for this update!
    S:line9=There are changes coming in the next version that can cost you items!
}


##########################################################################################################
# internal
#--------------------------------------------------------------------------------------------------------#
# Internally used options.
##########################################################################################################

internal {
    # Whether or not to disable the GUI from showing again after the player presses continue.
    B:disableGuiAfterFirstLaunch=false

    # Whether or not to display the GUI on launch. Should not be touched.
    B:displayGuiOnLaunch=true

    # Requires this mod to load the GUI. To always load no matter what, use a mod that is always installed.
    S:modToFind=launchgui
}


##########################################################################################################
# update
#--------------------------------------------------------------------------------------------------------#
# Information on pack updates.
##########################################################################################################

update {
    # Pack version that the end user is going to be downloading.
    S:currentPackVersion=1.5

    # Disables ability to continue to game if an update is available.
    B:disableContinueIfUpdatable=false

    # Enables checking for updates based on a hosted text file.
    B:enableUpdateChecker=true

    # URL to check for an update with.
    S:updateCheckerURL=https://raw.githubusercontent.com/TehNut/LaunchGui/1.7.10/version.txt
}


